@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="p-5 h-100 rounded text-white" style="background: url(/assets/media/bg/bg-2.jpg); border-top-left-radius: 0 !important;">

  <h1>@ViewData["Title"]</h1>
  @{
    if (@Model.DisplayConfirmAccountLink)
    {
      <p><a id="confirm-link" class="btn btn-outline-success" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a></p>
    }
    else
    {
      <p>
        Please check your email to confirm your account.
      </p>
    }
  }

</div>