@model BugTracker2020.Models.Project
@inject BugTracker2020.Services.IBTFileService fileService 
@{
  ViewData["Title"] = "Delete";
}

<div class="p-5 h-100 rounded" style="background: url(/assets/media/bg/bg-2.jpg); border-top-left-radius: 0 !important; color: #fff;">


  <h1>Delete</h1>

  <h3>Are you sure you want to delete @Model.Name?</h3>
  <div>

    <form asp-action="Delete">
      <input type="hidden" asp-for="Id" />
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a asp-action="Index" class="btn btn-dark border">Back to List</a>
    </form>
  </div>
</div>