@model BugTracker2020.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<div class="p-5 h-100 rounded text-white" style="background: url(/assets/media/bg/bg-2.jpg); border-top-left-radius: 0 !important;">
  <h1>Edit</h1>

  <div class="card bg-dark-o-10 p-3 shadow-lg border border-2 border-light">
    <div class="card-header bg-transparent border-0">
      <div class="card-title">
        <h4 class="text-center">@Model.Name</h4>
      </div>
      <div class="card-body bg-transparent">
        <form asp-action="Edit" enctype="multipart/form-data">
          <div class="form-group">
            <label for="projectName" class="control-label text-white">Project Name</label>
            <input name="projectName" class="form-control" />
          </div>
          <div class="form-group">
            <label class="text-white">Upload Project Image</label>
            <div></div>
            <div class="custom-file">
              <input type="file" name="projectImage" class="custom-file-input" id="customFile" />
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
          <div class="form-group d-flex justify-content-end">
            <input type="submit" value="Confirm" class="btn btn-outline-primary mr-2" />
            <a asp-action="Index" class="btn btn-dark border">Back to Projects</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>