@model BugTracker2020.Models.Ticket

@{
  ViewData["Title"] = "Create";
}
<div class="container pt-3 text-gray-200">
  <h1 class="text-center border-bottom-light rounded">Create</h1>

  <h4>Ticket</h4>
  <hr />
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="Title" class="control-label"></label>
          <input asp-for="Title" class="form-control" />
          <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Description" class="control-label"></label>
          <input asp-for="Description" class="form-control" />
          <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        @*<div class="form-group">
              <label asp-for="Created" class="control-label"></label>
              <input asp-for="Created" class="form-control" />
              <span asp-validation-for="Created" class="text-danger"></span>
          </div>
          <div class="form-group">
              <label asp-for="Updated" class="control-label"></label>
              <input asp-for="Updated" class="form-control" />
              <span asp-validation-for="Updated" class="text-danger"></span>
          </div>*@
        <div class="form-group">
          <label asp-for="ProjectId" class="control-label">To which project will this ticket belong?</label>
          <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
        </div>
        <div class="form-group">
          <label asp-for="TicketTypeId" class="control-label">Of what type will this ticket be?</label>
          <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
        </div>
        <div class="form-group">
          <label asp-for="TicketPriorityId" class="control-label">Of what priority will this ticket be?</label>
          <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
        </div>
        <div class="form-group">
          <label asp-for="TicketStatusId" class="control-label">What status will you assign this ticket?</label>
          <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
        </div>
        @*<div class="form-group">
              <label asp-for="OwnerUserId" class="control-label"></label>
              <select asp-for="OwnerUserId" class ="form-control" asp-items="ViewBag.OwnerUserId"></select>
          </div>*@
        <div class="form-group">
          <label asp-for="DeveloperUserId" class="control-label">Should anything go wrong, who will be to blame?</label>
          <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
        </div>
        <div class="form-group">
          <label for="attachments">Attach away</label>
          <input name="attachments" class="form-control-file" type="file" multiple />
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-dark border" />
          <a asp-action="Index" class="btn btn-dark border">Back to List</a>
        </div>
      </form>
    </div>
  </div>

  <div>
  </div>

  @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  }

</div>