@model BugTracker2020.Models.Ticket

@{
  ViewData["Title"] = "Edit";
}
<div class="p-5 h-100 rounded text-white" style="background: url(/assets/media/bg/bg-2.jpg); background-size: cover; border-top-left-radius: 0 !important;">
  <h1 class="text-center border-bottom-light rounded">Edit</h1>

  <h4 class="text-center">@Model.Title</h4>
  <hr />
  <div class="row">
    <div class="col col-lg-6 mx-auto">
      <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Created">
        <input type="hidden" asp-for="OwnerUserId">
        <input type="hidden" asp-for="ProjectId">
        @if (User.IsInRole("Developer") || User.IsInRole("Submitter"))
        {
          <input type="hidden" asp-for="DeveloperUserId">
        }
        <div class="form-group">
          <label asp-for="Title" class="control-label text-white"></label>
          <input asp-for="Title" class="form-control" />
          <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <hr>
        <div class="form-group">
          <label asp-for="Description" class="control-label text-white"></label>
          <input asp-for="Description" class="form-control" />
          <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <hr>
        <div class="form-group">
          <label asp-for="TicketTypeId" class="control-label text-white">Ticket Type</label>
          <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
          <span asp-validation-for="TicketTypeId" class="text-danger"></span>
        </div>
        <hr>
        <div class="form-group">
          <label asp-for="TicketPriorityId" class="control-label text-white">Ticket Priority</label>
          <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
          <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
        </div>
        <hr>
        <div class="form-group">
          <label asp-for="TicketStatusId" class="control-label text-white">Ticket Status</label>
          <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
          <span asp-validation-for="TicketStatusId" class="text-danger"></span>
        </div>
        <hr>
        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
        {
          <div class="form-group">
            <label asp-for="DeveloperUserId" class="control-label text-white">Assigned Developer</label>
            <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
            <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
          </div>
        }
        <hr>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-dark border" />
          <a class="btn btn-dark border" asp-action="Index">Back to List</a>
        </div>
      </form>
    </div>
  </div>

  @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  }
</div>